<html lang="en">
  <%- include("./partials/head.ejs")%>
  <body>
    <%- include("./partials/nav.ejs")%>

    <div class="about content">
      <h2>About Pingwings</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium,
        mollitia nostrum! Sed maxime veritatis cumque magni quaerat non
        accusamus minus, fuga adipisci deserunt dolore debitis maiores nobis.
        Praesentium, earum nulla.
      </p>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ab numquam id
        impedit corporis eveniet, deserunt perspiciatis rerum ad autem. Est!
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem dolor est
        nesciunt, fuga, similique tenetur magnam, adipisci ratione deleniti ut
        repudiandae quo ipsa voluptates voluptas blanditiis quia aliquam?
        Accusantium harum libero laboriosam, odit explicabo, obcaecati commodi
        dignissimos quo nam veritatis labore deleniti dicta magnam perferendis
        ullam tempora, eos aspernatur deserunt.
      </p>
    </div>
    <%- include("./partials/footer.ejs")%>
  </body>
</html>
